.button {
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 170px;
    height: 48px;
    font-size: 14px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
	display: inline;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		opacity: 0.4;
		cursor:not-allowed;
	}
}
